@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.header{
    display: flex;
    column-gap: 1rem;
    background-color: var(--background);

    @include tablet{
        column-gap: 0;
        max-height: 5.25rem;
    }
    
    @include desktop{
        max-height: 6.25rem;
    }
    
    &__left{
        display: flex;
        padding-left: 1rem;
        align-items: center;

        @include tablet{
            padding-right: 5rem;
            border-right: var(--border);
            padding-left: 1.625rem;
        }

        @include desktop{
            padding: 0 7rem 0 2.125rem;
        }
    }

    &__right{
        display: flex;
        flex-grow: 1;
        padding: 1rem 0.75rem 1rem 0;

        @include tablet{
            border-bottom: var(--border);
            padding: 1rem 1.25rem 1rem 1.5rem;
        }

        @include desktop{
            padding: 1.25rem 1.75rem 1.75rem 1.5rem;
        }
    }
    
    &__logo{
        background-image: url('../../../public/logos/logo-mobile.svg');
        min-width: 24px;
        min-height: 25px;
        display: block;


        @include tablet{
            background-image: var(--logo);
            min-width: 9.5625rem;
        }
    }
}

.add{
    background-color: $purple;
    border: none;
    background-image: url('../../../public/icons/icon-add-task-mobile.svg');
    min-width: 3rem;
    min-height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin: 0 0 0 auto;

    @include tablet{
        background-image: none;
    }

    &--disabled{
        opacity: 25%;
        pointer-events: none;
    }

    &__text{
        display: none;

        @include tablet{
            display: inline-block;
            @include heading-m;
            color: $white;
            font-weight: $bold;
            padding: 1rem 1.5rem;

            &::before{
                content: '+ ';
            }
        }
    }

    &:hover{
        background-color: $lightPurple;
        cursor: pointer;
    }

}