.modal{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    z-index: 1000000;
    
    &__content{
        width: 100%;
        max-width: 30rem;
        margin: 0 1rem;
    }
}