@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.editors{
    position: relative;
    bottom: 13rem;
    width: 100%;
    padding: 1.5rem;
    background-color: var(--background);
    border-radius: 0.375rem;

    &__title{
        @include heading-xl;
    }

    &__input{
        margin-top: 1rem;
        width: 100%;

        &--error{
            border: 1px solid $red;
        }
    }

    &__input-container{
        position: relative;
    }

    &__username{
        @include body-l;
        width: 100%;
        background-color: inherit;
        border: none;
        text-align: left;
        padding: 1rem;

        &:hover{
            background-color: $lightPurple;
        }
    }

    &__item{
        border-bottom: var(--border);
        
    }

    &__usernames{
        display: none;
        width: 100%;
        position: absolute;
        top: calc(100% + 0.5rem);
        background-color: var(--background);
        box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
        border-radius: 0.5rem;
        border: var(--border);

        &--show{
            display: block;
        }
    }
}