$purple: #635FC7;
$lightPurple: #A8A4FF;
$black: #000112;
$grayBlack: #20212C;
$darkGray: #2B2C37;
$gray: #3E3F4E;
$mediumGray: #828FA3;
$lightGray: #E4EBFA;
$light: #F4F7FD;
$white: #FFFFFF;
$red: #EA5555;
$lightRed: #FF9898;

$lightBorder: 1px solid $lightGray;
$darkBorder: 1px solid $gray;