@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.title{
    @include heading-l;
    font-weight: $bold;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1rem;
    min-width: 0;

    @include tablet{
        font-size: 1.25rem;
    }

    @include desktop{
        @include heading-xl;
    }


    &__toggle{
        background-color: unset;
        border: 0;
        column-gap: 9px;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 2rem;
        padding-right: 1rem;
        position: relative;

        @include tablet{
            display: none;
        }   
    
        &::after{
            content: url('../../../public/icons/icon-chevron-down.svg');
            position: absolute;
            right: 0;
        }
    
        &--up{
            &::after{
                content: url('../../../public/icons/icon-chevron-up.svg');
            }
        }
    }

    &__text{
        display: none;

        @include tablet{
            display: unset;
        }
    }
}